* {
    box-sizing: border-box;
}

.header {
    padding: 10px;
    text-align: center;
    background: #dec4a0;
    color: black;
    font-size: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

input[type=text] {
    border: 2px solid rgb(42, 126, 34);
    border-radius: 4px;
    /*border: none;
    border-bottom: 2px solid rgb(42, 126, 34);*/
}

button#add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    width: 100%;
}

button#dlt {
    background-color: #c23131;
    color: white;
    border: 2px solid #c23131;
    font-size: 12px;
    transition-duration: 0.4s;
}

button#btn {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    font-size: 12px;
    transition-duration: 0.4s;
}

.form {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 5px;
}

.task {
    padding: 5px;
    width: 90%;
}

.content {
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: auto 100px;
    padding: 5px;
}

.item-input {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}