{% load static %}

<!DOCTYPE html>
<head>
    <title>{% block titile %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <div class="header">
        <h1>Things to do</h1>
    </div>

        <form action="/addTodo/" method="post">{% csrf_token %}
            <input type="text" name="content"/>
            <button id="add" type="submit">Add</button>
        </form>

    <div class="item-input">
        <ul>
            {% for todo_item in all_items %}
                <li>{{ todo_item.content }}
                    <form id="dlt" action="/deleteTodo/{{todo_item.id}}/"
                    style="display:inline;"
                    method="post">{% csrf_token %}
                        <button id="dlt" type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </div>

</body>
</html>