{% load static %}

<!DOCTYPE html>
<head>
    <title>{% block titile %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <div class="header">
        <h1>Wake and Bake</h1>
    </div>

    <div class="item-input">
        <ul>
            {% for todo_item in all_items %}
                <li class="list">
                    
                    <div class="item-content">{{ todo_item.content }}</div>
                    
                    <div class="delete">
                        <form id="dlt" action="/deleteTodo/{{todo_item.id}}/"
                        style="display:inline;"
                        method="post">{% csrf_token %}
                        <button id="dlt" type="submit">x</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <form class="form" action="/addTodo/" method="post">{% csrf_token %}
        <div class="task">
            <input class="content" type="text" name="content" placeholder="Enter Item"/>
        </div>
        <div class="add">
            <button id="add" type="submit">Add</button>
        </div>
    </form>

</body>
</html>